extend layout
block head
    link(rel='stylesheet', href='/public/css/my-polls.css')
block content
    h2 My Polls
    if (polls.length === 0) 
        p.no-polls.alert.alert-danger.text-center
            | You have no polls to display. 
            br
            | Why don't you 
            a(href="/createpoll").alert-link create one
            | ?
    ul.allpolls.list-group
        each poll in polls   
            li.list-group-item(id=poll._id)
                p= poll.question
                .buttons
                    a.btn.btn-primary(href='/results/'+poll.url) View Results
                    a.btn.btn-info(href='/polls/'+poll.url) View Poll
                    .btn.btn-danger.delete(id=poll._id data-toggle="tooltip" title="Delete poll")
                        span.fa.fa-trash
            //    
                a.btn.col-xs-11.pollLink(href='/results/'+poll.url)= poll.question
                .col-xs-1
                    .btn.btn-default.delete(id=poll._id)
                        span.fa.fa-trash.text-danger(data-toggle="tooltip" title="Delete poll")
        
    script(type="text/javascript" src="common/ajax-functions.js")
    script(type="text/javascript" src="controllers/controller.client.js")